@import "globals/vars";
@import "globals/mixins";


*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container{
  margin: 0 auto;
  max-width: 290px;
  width: 100%;
  padding:  0 10px;
  box-sizing: border-box;
  position: relative;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

@import "header/header";
@import "post-block/post-block";
@import "footer/footer";
