* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    text-align: center;
}


img {
    display: block;
    margin: 0 auto;
}
nav {
    text-align: center;
}

.menu-item {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.menu-item a {
    text-decoration: none;
    color: #FF0000;

}

.menu {
    margin: 25.5px auto;
}

header {
    width: 100%;
}

.menu-slogan {
    margin-right: 72px;
}

.menu li:last-child > a.menu-slogan {
    margin-right: 0px;
}


.title {
    text-transform: uppercase;
    margin: 48px 0 38px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #373737;

}

.text {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    padding: 0 67.5px 28px;
}

button {
    text-transform: uppercase;
    margin: 66px auto 82px;
    display: inline-block;
    padding: 18px 43px;
    background-color: red;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;

}

button a {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}

.copyright {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    float: right;
    margin: 0 105px 21px 0;

}