body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg {
    background: #5E5D58 60%;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 0;
    color: white;
    font-weight: lighter;
    display: flex;
    text-align: center;
    align-items: center;

}

.h1-ham {
    color: #18CFAB;
    font-weight: bold;

}
.h1-text {
    font-size: 32px;
    line-height: 48px;
}

.logo-H {
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
}

.romb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 67px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: #18CFAB;
    margin-right: 6px;
}

ul {
    display: flex;
    list-style: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-link {
    text-decoration: none;
    margin-right: 21px;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.6);
}

.search {
    width: 21px;
    height: 20px;
    cursor: pointer;
}

.menu-bg {
    background: url("../img/Layer 1 5.png") no-repeat fixed;
}

.center {
    display: flex;
    justify-content: center;
}

.text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: white;
    padding-bottom: 22px;
    padding-top: 265px;
    margin: 0;
}

.bigger-text {
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 22px;
    margin: 0;
}

.below-text {
    color: #D4D4D4;
    font-size: 34px;
    margin: 0;
    padding-bottom: 130px;
}

.btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border-radius: 6px;
    width: 170px;
    height: 63px;
    color: white;
    outline: 0;
    cursor: pointer;
    border: 0;
    box-shadow: 0 -5px 0px #ffff;
    margin-bottom: 243px;
}

.green {
    background: #18CFAB;
    margin-right: 22px;
}

.blue {
    background: #00CBF6;
}

.blocks {
    display: flex;
    justify-content: space-between;
    background: #1C2A33;
    margin-top: 5px;
    min-height: 377px;
}

.block-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.block {
    width: 482px;
    color: #18CFAB;
    padding: 97px 0 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.block:nth-of-type(even) {
    background: #18CFAB;
    color: white;
}

.service {
    margin: 0 auto;
    padding: 83px 0 91px;
}

.service-nav {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin: 0;
    padding-bottom: 24px;
}

.line {
    width: 79px;
    height: 1.5px;
    background: #18CFAB;
    margin: 0 auto;
    margin-bottom: 70px;
    box-shadow: 10px 5px 0px #18CFAB;
}

.type {
    margin: 0;
    padding: 0;
}

.types {
    font-size: 16px;
    line-height: 39px;
    min-height: 72px;
    min-width: 191px;
    border: 1px solid #EDEFEF;
    /*border-right: 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8FCFE;
    color: #717171;
    position: relative;

}

/*.types:last-of-type {*/
/*    border-right: 2px solid #EDEFEF;*/
/*}*/

/*.types:first-of-type {*/
/*    background: #18CFAB;*/
/*    color: #ffffff;*/
/*}*/

/*.types:first-of-type::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    border: 10px solid transparent;*/
/*    border-top: 10px solid #18CFAB;*/
/*    bottom: -20px;*/
/*}*/

.types:hover {
    border: 1px solid #18CFAB;
    cursor: pointer;
}

.img-text {
    display: flex;
    margin-top: 25px ;
}

.service-text {
    font-size: 15px;
    line-height: 24px;
    padding-left: 15px;
    color: #777777;
    margin: 0;
}

.buyer {
    background: url("../img/section-2.jpg") no-repeat fixed;
    box-sizing: border-box;
    padding: 127px 0 127px;
    text-align: center;
    height: 476px;
    position: relative;
    z-index: 0;
}

.buyer::after {
    content: "";
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -1;
}

.buyer-text {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 12px;
}

.buyer-below-text {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin: 0;
    padding-bottom: 62px;
}

.bg-work {
    background: #E9EDEF;
}

.work {
    margin: 0 auto;
    padding: 95px 0 99px;
    text-align: center;
}

.work-types {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 71px;
}

.model {
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #DADADA;
    padding: 7px 16px;
    border-right: 0;
}


.model:last-of-type {
    border-right: 1px solid #DADADA;
}

.model:first-of-type {
    padding-right: 28px;
    padding-left: 28px;
}

.model:hover {
    color: #18CFAB;
    border: 1px solid #18CFAB;
    cursor: pointer;
}

.model:last-of-type:hover {
    border-right: 1px solid #18CFAB;
}

.eclipse {
    width: 43px;
    height: 42px;
    background: url("../img/Ellipse 1 copy 3.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}

.eclipse:hover {
    background: url("../img/Ellipse bg.png") no-repeat;
}

.eclipse:hover .img-eclipse {
    color: white;
}

.eclipse-2 {
    width: 43px;
    height: 42px;
    background: url("../img/Ellipse 1 copy 3.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.eclipse-2:hover {
    background: url("../img/Ellipse bg.png") no-repeat;
}

.eclipse-2:hover .square {
    background-color: white;
}

.space {
    display: flex;
    padding-bottom: 25px;
    padding-top: 40px;
    justify-content: center;
}

.square {
    width: 11px;
    height: 11px;
    background-color: #18CFAB;
}

.eclipse-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

.eclipse-text1 {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    text-align: center;
    margin: 0;
}



.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex:hover .in {
    display: block;
}

.btn1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    border-radius: 6px;
    width: 170px;
    height: 63px;
    color: white;
    outline: 0;
    cursor: pointer;
    border: 0;
    margin: 70px 0 100px;
}

.right {
    padding-right: 15px;
}

.news {
    margin: 0 auto;
    padding: 82px 0 128px;
}

.news-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin: 0;
    padding-left: 10px;
}

.news-below-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    margin: 0;
    padding-left: 10px;
}

.before::before {
    content: "|";
    padding-right: 10px;
    padding-left: 10px;
}

.breaking-news {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 44px;
}

.new {
    position: relative;
}

.new:hover .in-square {
    background: #18CFAB;
    cursor: pointer;
}

.new:hover .news-text {
    color: #18CFAB;
    cursor: pointer;
}

.in-square {
    width: 68px;
    height: 70px;
    background: #203E38;
    position: absolute;
    top: 0;
    right: 1px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.content-hidden {
    display: none;
}

.content-active {
    display: flex;
}

.active {
    background: #18CFAB;
    color: #ffffff;
}
.active::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
    bottom: -20px;
}

.size {
    height: 144px;
    width: 192px;
}

.review-block{
    background: url('../img/section-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.portfolio-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 97px 0 100px 0;
    background-color: #f8fcfe;
    border: 0.2px solid #e2e2e2;
}

.portfolio-list{
    display: flex;
    max-width: 609px;
    width: 100%;
    justify-content: center;
    margin-bottom: 71px;
    color: #717171;
    background-color: #f8fcfe;
}

.portfolio-list li:first-child{
    width: 100%;
    max-width: 76px;
}

.portfolio-theme{
    width: 100%;
    height: 58px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 58px;
    border: 0.2px solid rgba(71,71,71,0.1);
    cursor: pointer;
}

.portfolio-active{
    height: 60px;
    color: #18cfab;
    border: #18cfab 2px solid;
    box-sizing: border-box;
}

.portfolio{
    display: flex;
    margin-bottom: 71px;
    flex-wrap: wrap;
}

.port-img{
    position: relative;
    width: 25%;
    height: 207px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;

}

.port-img img{
    width: 100%;
    height: 100%;
}

.portfolio-block button{
    font-size: 14px;
    box-shadow: none;
}

.fa-plus{
    margin-right: 16px;
    font-size: 16px;
}

.portfolio-hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 290px;
    height: 207px;
    padding: 46px 0 52px 0;
    border-top: 3px solid #18cfab;
    text-align: center;
    box-sizing: border-box;
    background-color: #f8fcfe;
    transition: 0.4s;
    transform: translateY(-100%);
}

.portfolio-links {
    display: flex;
}
.portfolio-links a{
    display: inline-block;
    margin: 0 2.5px;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    line-height: 40px;
    color: #18cfab;
}

.portfolio-links a:hover{
    background-color: #18cfab;
    color: #fff;
}

.portfolio-info p:first-child{
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color:  #18cfab;
}

.portfolio-info p:nth-child(2){
    text-transform: capitalize;
    font-size: 12px;
    color:  #8a8a8a;
}

.port-img:hover .portfolio-hover{
    transform: translateY(0);
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.slider-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    color: #fff;
    background:  rgba(0, 0, 0, 0.5);
}

.slider-bg .title{
    color: #fff;
}

.quote-simbol{
    margin-bottom: 43px;
    width: 44px;
    height: 30px;
    background-image: url('../img/quote.png');
    background-repeat: no-repeat;
    color:  #18cfab;
}

.pers-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:  #bbbbbb;
}

.pers-quote{
    line-height: 30px;
    margin-bottom: 43px;
}

.pers-name{
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:  #18cfab;
}

.pers-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 27px auto 57px auto;
    border-radius: 50%;
    outline: none;
}

.pers-photo img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #18cfab;
}

.rev-slider-nav{
    display: flex;
    justify-content: center;
    max-width: 420px;
    position: relative;
    top: -30px;
}

.rev-slider-nav .pers-photo{
    position: relative;
    margin: 0 30px;
    max-width: 82px;
    max-height: 82px;
    transform: scale(0.8);
}

.rev-slider-nav .pers-photo img{
    max-width: 74px;
    max-height: 74px;
}

.slick-arrow{
    margin: 0 -30px;
    width: 31px;
    height: 31px;
    border: 1px solid #bbbbbb;;
    color: #bbbbbb;
    box-sizing: border-box;
    line-height: 36px;
    cursor: pointer;
}

.slick-arrow:hover{
    background-color:  #18cfab;
    border: none;
    color: #fff;
}

.slick-prev:before {
    content: "<";
    font-family: inherit;
    font-weight: 700;
    font-size: 13px;
    opacity: 1;
}

.slick-next:before{
    content: ">";
    font-family: inherit;
    font-weight: 700;
    font-size: 13px;
    opacity: 1;
}



.menu-link:hover {
    color: #18CFAB;
    padding-bottom: 48px;
    border-bottom: 2px solid #18cfab;
}


.footer{
    height: 121px;
    background-color: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-footer {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.span {
    margin: 0 3px 0 3px;
    color: #18CFAB;
}

.span::after {
    content: "|";
    margin-left: 7px;
    color: #AEAEAE;
}

.pointer {
    cursor: pointer;
}