body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1030px;
    margin: 0 auto;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 17px;
}

.bg {
    background: url("../img/background 1.png") center no-repeat;
    background-size: cover;
}


.logo-link {
    text-decoration: none;
    display: flex;
}

.logo-link:hover .logo-img {
    content: url("../img/logo 2.png");
}

.logo-link:hover .logo-text {
    color: #F26522;
}


.logo-text {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}

.logo-below-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.logo-img {
    margin-right: 8px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mail-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
}

.number-link {
    display: flex;
    text-align: end;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 19px;
}

.mail-link:hover {
    color: #F26522;
}

.number-link:hover {
    color: #F26522;
}

.text {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    align-items: end;
}

.gallery-link {
    text-decoration: none;
    margin-bottom: 37px;
    color: #ffffff;

}

.gallery {
    width: 300px;
    position: relative;
}

.gallery-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.text-below {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 15px;
}

.panel {
    background-color: #F26522;
    width: 303px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 166px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    visibility: hidden;

}


.value {
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding-top: 8px
}

.value-text {
    font-size: 10px;
    line-height: 10px;
}

.right-inform {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 12px;
}

.right-inform::after {
    content:url("../img/Vector 1.svg");
    margin-left: 16px;
    padding-right: 14px;
}

.left-inform {
    padding-left: 16px;
}

.gallery-link:hover .panel {
    visibility: visible;
    z-index: 0;
}