.menu {
  margin: 0 auto;
  width: 100%;

  &__list {
    display: flex;
    gap: 50px;
    list-style: none;
  }
}

.item {
  font-weight: bold;
  font-size: 35px;
}

.item > a {
  color: orangered;
  text-decoration: none;
}
