body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.container {
    width: 324px;
    margin: 0 auto;
}

.bg {
    background: url("../img/bg1.png") center no-repeat;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    margin-left: 80px;
}


.up {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    height: 58px;
}

.right {
    padding-right: 25px;
}

.right-header {
    display: flex;
    align-items: center;
}

.text {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    padding-right: 80px;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    color: darkgreen;
}

.text::before {
    content: '';
    border-left: 1px solid #ffffff;
    padding-right: 25px;
}

.title {
    color: #ffffff;
    text-decoration: none;
}

.title:hover {
    color: darkgreen;
}

.color:hover {
    fill: darkgreen;
    cursor: pointer;
}

.block {
    width: 444px;
    margin: 0 auto;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    background-color: #ffffff;
    height: calc(100% - 58px);
    margin-top: 53px;
}

.log-form {
    display: flex;
    padding-top: 31px;
}

.space {
    display: flex;
    justify-content: space-between;
    width: 324px;
    align-items: center;
    margin-left: 43px;
}

.sign-text {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

.sign-link {
    text-decoration: none;
    color: #434343;
}

.log-form::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;

}

.log-text {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
}

.log-link {
    text-decoration: none;
    color: #3CB878;
}

.log-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.facebook {
    width: 160px;
    height: 48px;
    background: #305DB8;
    padding: 0;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    border: 0;
}

.google {
    width: 160px;
    height: 48px;
    background: #F26522;
    padding: 0;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    border: 0;
}

.facebook {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facebook:hover {
    background: #022263;
}

.f-text {
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    padding-right: 20px;
    margin: 0;
}

.f-text::before {
    content: '';
    border-left: 1px solid #0A162F;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.1;
}

.f-img {
    padding-left: 15px;
}

.google {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.google:hover {
    background: #AB1F09;

}

.g-img {
    padding-left: 15px;
}

.or {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 11px;
}

.or::before {
    content: '';
    width: 150px;
    position: absolute;
    border-bottom: 1px solid #BEBEBE;
    top:50%;
    right: 172px;
}

.or::after{
    content: '';
    width: 150px;
    position: absolute;
    border-bottom: 1px solid #BEBEBE;
    top:50%;
    left: 172px;
}
.sign-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sign-input {
    height: 46px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.sign-input::placeholder {
    color: #BEBEBE;
    padding-left: 20px;
}
.sign-input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.p-link {
    text-decoration: none;
    color: green;
}

.p-link:hover{
    text-decoration: underline;
}

.create-button {
    font-size: 16px;
    line-height: 16px;
    height: 46px;
    background: #3CB878 80%;
    color: #ffff;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 38px;
    cursor: pointer;
    outline: none;
}
.create-button:hover {
    background: #01813F;
}
.check {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}
.in-check {
    display: flex;
}