.top-header {
    display: flex;
    align-items: center;
    background-color: #313131;
    justify-content: space-between;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

.picture-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 27px;
    height: 27px;
    margin-right: 27px;
    padding-left: 30px;
}

ul {
    display: flex;
    list-style: none;
}

.search {
    width: 17px;
    height: 17px;

}

.title {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.menu-link {
    color: #ffffff;
    text-decoration: none;
    margin-right: 35px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.menu-link:hover {
    color: #14B9D5;;
}

.square {
    height: 70px;
    width: 68px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    color: white;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    margin-top: 0;
    margin-bottom: 44px;
}

.bottom-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 164px;
    padding-bottom: 70px;
    background: url("../image/town.jpeg") no-repeat fixed center;
}

.btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    width: 170px;
    height: 55px;
    border-radius: 10px;
    color: white;
    outline: none;
    cursor: pointer;

}


.green {
    background-color: #89CA62;
    margin-right: 20px;
}

.blue {
    background-color: #14B9D5;
}

.posts {
    background-color: #F2F2F2;
    padding: 50px 0 72px;
}

.main-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    margin-top: 0;
    text-align: center;

}

.vanglo {
    width: 370px;
    height: 320px;
    background-color: white;
}

.vanglo-item {
    height: 260px;
}

.text {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.sunrise {
    width: 370px;
    height: 441px;
    background-color: white;
}

.sunrise-item {
    height: 380px;
}

.stargaze {
    width: 370px;
    height: 355px;
    background-color: white;
}

.stargaze-item {
    height: 290px;
}

.royal {
    width: 370px;
    height: 321px;
    background-color: white;
}

.royal-item {
    height: 260px;
}

.sunset {
    width: 370px;
    height: 309px;
    background-color: white;
}

.sunset-item {
    line-height: 247px;
}

.glorious {
    width: 370px;
    height: 441px;
    background-color: white;
}

.glorious-item {
    height: 380px;
}

.blog {
    height: 800px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.clients {
    background: url("../image/parallax.jpeg") no-repeat fixed center;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
            "item1 item1 item1 item1"
            "item2 item2 item2 item2"
            "item3 item4 item5 item6";
    padding: 108px 0 108px;
    grid-row-gap: 87px;
    justify-content: center;
}

.client-text {
    text-transform: uppercase;
    color: white;
    grid-area: item1;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;

}

.line {
    background-color: #4BCAFF;
    width: 60px;
    height: 3px;
    grid-area: item2;
}

.item3 {
    grid-area: item3;
    justify-self: end;
}
.item4 {
    grid-area: item4;
    justify-self: end;
}
.item5 {
    grid-area: item5;
    justify-self: end;
}
.item6 {
    grid-area: item6;
    justify-self: end;
}

.top-rated {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-areas: "item14 item14 item14 item14 item14 item14 item14";
    grid-row-gap: 52px;
    margin: 50px 0 50px;
}

.rated-text {
    grid-area: item14;
}

.item7 {
    width: 100%;
}

.news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-bottom: 70px;
    grid-template-areas:
    "title title title title"
    "news-1 news-1 news-1 news-2"
    "news-3 news-3 news-4 news-4"
    "news-5 news-5 news-6 news-6"
    "news-7 news-8 news-8 news-8";
}

.news-title-box {
    grid-area: title;
    text-align: center;
    text-transform: uppercase;
    color: #4BCAFF;
}

.bg {
    background: #F9F7F7;
}

#news-1 {
    grid-area: news-1;
    display: flex;
}

#news-2 {
    grid-area: news-2;
}

#news-3 {
    grid-area: news-3;
}

#news-4 {
    grid-area: news-4;
}

#news-5 {
    grid-area: news-5;
}

#news-6 {
    grid-area: news-6;
}

#news-7 {
    grid-area: news-7;
}

#news-8 {
    grid-area: news-8;
    display: flex;
}

.news-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: right;
    margin-right: 15px;
}

.news-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 3px;
    color: #5B6469;
    text-align: right;
    margin-right: 15px;
    margin-left: 10px;
}

.center-title {
    text-align: center;
    margin: 0%;
}

.p1 {
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;

}
.blog1 {
    grid-area: blog1;
}

.bottom {
    display: grid;
    height: 80px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    background-color: black;
    align-items: center;
    grid-template-areas: "g3 g2";
}

.bottom-text {
    color: white;
    font-size: 13px;
    line-height: 13px;
    grid-area: g3;
    justify-self: end;
}

.v1 {
    width: 38px;
    height: 21px;
}
.vector {
    grid-area: g2;
    justify-self: center;
    display: flex;
    align-items: center;

}