* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}


.logo {
    font-size: 80px;
    line-height: 94px;
    display: flex;
    margin-bottom: 40px;

}

.logo a {
    text-decoration: none;
    color: inherit;
}


.menu {
    height: 72px;
    background: #35444F;
    display: flex;
    justify-content: center;


}

.menu-item {
    list-style: none;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #ffffff;
    padding: 26px 32px 0;
}

.menu-item:hover {
    background: #222F3A;
}

.menu-link {
    text-decoration: none;
    color: #ffffff;
}

.left-text {
    height: auto;
    border: 1px solid #000000;
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
}

.text {
    list-style: none;
    font-size: 27px;
    line-height: 52px;
    box-sizing: border-box;
    padding-top: 26px;
    padding-left: 44px;

}

.text-link {
    text-decoration: none;
    color: #495863;
    padding-top: 26px;
}

.text:hover {
    font-weight: bold;
    background: #DBDBDB;
}

.text:hover .text-link {
    padding-left: 44px;
    color: black;

}

main {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
}

img {
    transition: 1s;
}

img:hover {
    transform: scale(1.2);
}

.main-text {
    width: 885px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}

.footer-text {
    list-style: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}


.footer-text >a {
    text-decoration: none;
    color: black;
}

 .footer-text >a:hover  {
    color: #4BCAFF;
    text-decoration: underline;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    box-sizing: border-box;
}

.footer-main-text {
    display: flex;
    padding-left: 40px;
    width: 928px;
}

.footer-text {
    padding: 15px
}

.footer-last-text {
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;
}


.color-text {
    color: #4BCAFF;
}