.field{
  width: 350px;
  height: 30px;
  margin: 7px 0;
  border: none;
  border-radius: 5px;
  background-color: palegreen;
}
.sbmt-button{
  padding:  10px 30px;
  margin: 10px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f5f6f6;
}
.sbmt-button:hover{
  color: darkslategrey;
  transition: 0.5s;
}
.form-title{
  color: #f5f6f6;
}
.error{
  color: #f35834;
  display: inline;
}
.input-place{
}