.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -14;
background-color: rgba(0,0,0,.7);

  &__window {
    background-color: #E74C3C;
    width: 517px;
    height: 253px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    color: #ffffff;
    border-radius: 10px;
    z-index: 1;

    &-header {
      display: flex;
      justify-content: space-between;
      background-color: #D44637;
      color: #fff;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 10px;
    }

    &-button {
      cursor: pointer;
    }

    &-text {
      color: #ffffff;
    }
  }
}