
body {
    background: #000;
    color: #ffe919;
    overflow: hidden;
}

.star {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 1000px;
    height: 1000px;
    bottom: 0;
    left: 50%; margin-left: -500px;
    font-size: 50px;
    line-height: 1.5;
    text-align: justify;
    transform-origin: 50% 90%;
    transform: perspective(300px) rotateX(30deg);
    animation-direction: normal;
}
.center{
    text-align: center;
}
.title{
    font-size: 50px;
}
.text {
    font-size: 70px;
}

.star-text {
    position: absolute;
    top: 100%;
    animation: motion 30s 1s linear infinite;
}

@keyframes motion {
    0% { top: 100%; }

    100% { top: -100%;}
}
