.open-button{
    color: #f5f6f6;
    text-align: right;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    height: fit-content;
}
.open-button:hover{
    transition: 0.3s;
}
.button-wrapper{
    display: flex;
    height: 100vh;
    align-content: center;
    align-items: center;
    justify-content: center;
}
